{
	"root": true,
	"extends": "xo/browser",
	"plugins": [
		"html"
	],
	"globals": {
		"Polymer": true
	},
	"rules": {
		"new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"Polymer"
				]
			}
		]
	}
}
