{
	"root": true,
	"extends": "xo/esnext",
	"env": {
		"browser": true,
		"node": false
	},
	"plugins": [
		"html"
	],
	"globals": {
		"Polymer": true
	},
	"rules": {
		"new-cap": [
			2,
			{
				"capIsNewExceptions": [
					"Polymer",
					"Polymer.MutableData",
					"Polymer.NodeCGReplicantTargeting"
				]
			}
		]
	}
}
