# Node / Bower
bower_components/
node_modules/

# OS specific
.DS_Store

# JetBrains IDEs (IntelliJ/WebStorm)
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/copyright/profiles_settings.xml
/.idea/workspace.xml
/.idea/shelf/


# Code coverage results
/coverage
